.header{
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    padding: 2px;
    background-color: darkcyan;
}

.menu{
    width: 100%;
    height: 25px;
    background-color: darkcyan;
}

ul li{
    padding:4;
    float: left;
    color: white;
    list-style-type: none;
    margin-left: 10px;
}

a :hover{
    background-color: lawngreen;
}


.left{
    width: 30%;
    height: 480px;
    background-color: aqua;
    float: left;
}

.right{
    width: 65%;
    height: 480px;
    background-color: coral;
    float: right;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    clear: both;
}
